<html>
    <head></head>
    <body>
        <form action="/users/login" method="POST">
        <input type="username" name="username">
        <input type="password" name="password">
        <input type="submit" >
        </form>
    </body>
</html>